<div class="container">
  <h1>Sugestie v1</h1>
  
  <div class="chat-box">
    <textarea 
      [(ngModel)]="prompt" 
      (keydown.enter)="$event.preventDefault(); sendRequest()"
      placeholder="W czym mogę Ci dzisiaj pomóc?" 
      rows="4">
    </textarea>
    
    <button (click)="sendRequest()" [disabled]="loading">
      {{ loading ? 'Myślę' : 'Wyślij' }}
    </button>
  </div>

  <div class="container">
  <div *ngIf="loading" class="loader">
    Generowanie odpowiedzi
  </div>

  <div *ngIf="response" class="response-area">
    <strong>jsonowa odpowiedz:</strong>
    <p>{{ response }}</p>
  </div>
</div>
</div>